.App {
  text-align: center;
  background-color: transparent;
}

.App-header {
  background-color: white;
  border-bottom-style: outset;
  border-bottom-color: #ff611d;
  border-bottom-width: 4px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

